.CollectionCards {
  color: white;
  border-radius: 20px;
  overflow: hidden;
  width: 200px;
  justify-content: space-between;
  margin-left: 25px;
  height: 350px;
  background-color: #a4508b;
  background-image: linear-gradient(326deg, #a4508b 0%, #5f0a87 74%);
}
.allContain {
  transition: all 2s ease-in-out;
}
.allContain :hover {
  transform: scale(1.2);
}
.punkImg {
  width: 100%;
}
.ethImg {
  height: 23px;
  width: 15px;
}
.priceContainer {
  display: flex;
  align-items: center;
  margin-top: 10px;
  object-fit: contain;
}
.price {
  margin-left: 6px;
  font-weight: 600;
}
.details {
  padding: 20px;
}
.name {
  font-size: 19px;
  font-weight: 900;
}
.id {
  color: #a1a5b0;
  font-size: 18px;
  font-weight: 400;
}
