.CollectionCards {
  color: white;
  border-radius: 20px;
  overflow: hidden;
  width: 230px;
  justify-content: space-between;
  margin-left: 25px;
  margin-top: 20px;
  height: 400px;
  background-color: black;
  background-image: linear-gradient(326deg, #2e0741 0%, #420c5c 74%);
  box-shadow: 12px 12px 2px 1px #2e0741;
}
.allContain {
  transition: all 2s ease-in-out;
}
.allContain :hover {
  transform: scale(0.9);
}
.punkImg {
  width: 100%;
}
.ethImg {
  height: 23px;
  width: 15px;
}
.priceContainer {
  display: flex;
  align-items: center;
  margin-top: 10px;
  object-fit: contain;
}
.price {
  margin-left: 6px;
  font-weight: 600;
}
.details {
  padding: 20px;
}
.name {
  font-size: 19px;
  font-weight: 900;
}
.id {
  color: #a1a5b0;
  font-size: 18px;
  font-weight: 400;
}
